configuration {
    modi: "drun";
	display-drun: "Launch:";
    drun-display-format: "{icon}{name}";
    me-accept-entry: "MouseDPrimary";
    fullscreen: true;
    show-icons: true;
}

@theme "themes/launcher-theme.rasi"
